@import url("reset.css");
@import url("../icomoon/style.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
/* font-family: 'Open Sans', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap");
/* font-family: 'Raleway', sans-serif; */

/* base styles */

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

:root {
  --orange: #ff9b51;
  --black: #000;
  --white: #fff;
  --darkgrey: #333333;
  --lightgrey: #f5f5f5;
  --grey: #ccc;
  --bodycolor: #f1f1f1;
}

body {
  background-color: var(--bodycolor);
}

#container {
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: white;
}

/* header styles */

.wrapper {
  max-width: 1104px;
  margin: 0 auto;
}

header .wrapper {
  height: 70px;
  display: flex;
  align-items: center;
}

header {
  height: 70px;
  background-color: var(--black);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--lightgrey);
}

header img {
  display: block;
  width: 56px;
  height: auto;
  margin-right: auto;
}

header ul {
  width: 443px;
  display: flex;
  justify-content: space-between;
}

header li {
  text-transform: capitalize;
}

header li a {
  text-decoration: none;
  color: var(--lightgrey);
  display: block;
  height: 70px;
  line-height: 70px;
}

header li :is(a:focus, a:hover, a:active) {
  color: var(--orange);
}

header ul > a {
  display: none;
  color: var(--lightgrey);
  font-size: 3rem;
}

/* main styles */

main {
  min-height: calc(100vh - 70px - 103px);
  background-image: url("../assets/images/banner_background.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

main .wrapper {
  height: 100%;
  display: flex;
}

main section {
  height: 100%;
  max-width: 530px;
  margin-right: auto;
}

main img {
  display: block;
  width: 123px;
  height: auto;
  padding-top: 110px;
}

main section h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 44px;
  color: var(--lightgrey);
  text-transform: uppercase;
  padding-top: 33px;
}

main section h1::after {
  content: "";
  display: block;
  width: 64px;
  height: 2px;
  background-color: var(--lightgrey);
  margin-top: 40px;
}

main section p {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 23px;
  color: var(--lightgrey);
  padding-top: 40px;
  padding-bottom: 46px;
}

main section button {
  border: 2px solid #f5f5f5;
  background-color: rgba(255, 255, 255, 0);
  color: var(--lightgrey);
  height: 43px;
}

main section :is(button:focus, button:hover) {
  border: 2px solid #ff9b51;
}

main section button a {
  color: var(--lightgrey);
  text-decoration: none;
  height: 37px;
  line-height: 37px;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  padding-left: 32px;
  padding-right: 29px;
}

main section button :is(a:focus, a:hover) {
  color: var(--orange);
}

/*  form styles */

main aside {
  width: 361px;
  height: 362px;
  background-color: var(--white);
  border-radius: 4px;
  margin-top: 141px;
}

main aside form {
  width: 100%;
  height: 362px;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

form h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: var(--darkgrey);
  width: 100%;
  height: 54px;
  line-height: 54px;
  background-color: var(--lightgrey);
  padding-left: 52px;
  border-radius: 4px 4px 0 0;
}

form input {
  display: block;
  margin-left: 39px;
  border: none;
  border-bottom: 1px solid #f5f5f5;
  width: 284px;
  padding-left: 11px;
  padding-bottom: 10px;
  outline: none;
}

::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 400;
  font-size: 1.4rem;
  color: var(--grey);
}

form input:nth-of-type(1) {
  padding-top: 33px;
}

form input:nth-of-type(2) {
  padding-top: 41px;
}

form input:nth-of-type(3) {
  padding-top: 50px;
}

form button {
  height: 54px;
  width: 100%;
  margin-top: auto;
  border: none;
  background-color: var(--orange);
  color: var(--white);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 0 0 4px 4px;
}

form :is(button:focus, button:hover) {
  background-color: var(--lightgrey);
  color: var(--darkgrey);
}

/* footer styles */

footer {
  height: 103px;
  background-color: var(--white);
}

footer .wrapper {
  display: flex;
  height: 100%;
}

footer section {
  margin-right: auto;
}

footer #social {
  display: flex;
  height: 100%;
}

footer h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  padding-top: 30px;
}

footer p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--grey);
  padding-top: 14px;
}

footer li {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  display: block;
  color: var(--grey);
  font-size: 4.5rem;
  margin-left: 64px;
}

footer :is(a:focus, a:hover) {
  color: var(--orange);
}

/* responsive styles */

@media screen and (max-width: 1154px) {
  .wrapper {
    padding: 0 20px;
  }

  main section {
    padding-right: 20px;
  }

  footer {
    height: auto;
  }
  main section button {
    margin-bottom: 47px;
  }

  footer a {
    padding-top: 25px;
  }

  footer p {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 880px) {
  footer a {
    margin-left: 20px;
  }
}

@media screen and (max-width: 700px) {
  main .wrapper {
    flex-direction: column;
  }

  main aside {
    margin-top: 10px;
    margin-bottom: 57px;
  }
}

@media screen and (max-width: 600px) {
  footer #social {
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
  }
  footer {
    padding-bottom: 20px;
  }
  main aside {
    width: 300px;
  }
  form input {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 588px) {
  header ul {
    width: auto;
  }
  header li {
    margin-left: 15px;
  }
}

@media screen and (max-width: 430px) {
  header ul > a {
    display: block;
    color: var(--lightgrey);
    font-size: 3rem;
    padding-top: 20px;
  }

  header nav {
    align-self: flex-start;
  }

  header ul {
    flex-direction: column;
  }

  header li {
    display: none;
    margin-left: -30px;
    height: 45px;
  }

  header ul > :is(a:focus, a:hover) {
    color: var(--orange);
  }
}

@media screen and (max-width: 382px) {
  main aside {
    align-self: center;
  }
}
