@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
/* font-family: 'Open Sans', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap");
/* font-family: 'Raleway', sans-serif; */

/* base styles */

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

:root {
  --orange: #ff9b51;
  --black: #000;
  --white: #fff;
  --darkgrey: #333333;
  --lightgrey: #f5f5f5;
  --grey: #ccc;
  --bodycolor: #f1f1f1;
}

body {
  background-color: var(--bodycolor);
}

#container {
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh; /* opkuisen */
  background-color: white; /* opkuisen */
}

/* header styles */

.wrapper {
  max-width: 1104px;
  margin: 0 auto;
}

header .wrapper {
  height: 70px;
  display: flex;
  align-items: center;
}

header {
  height: 70px;
  background-color: var(--black);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--lightgrey);
}

header img {
  display: block;
  width: 56px;
  height: auto;
  margin-right: auto;
}

header ul {
  width: 443px;
  display: flex;
  justify-content: space-between;
}

header li {
  text-transform: capitalize;
}

header li a {
  text-decoration: none;
  color: var(--lightgrey);
  display: block;
  height: 70px;
  line-height: 70px;
}

header li :is(a:focus, a:hover, a:active) {
  color: var(--orange);
}

/* main styles */

main {
  min-height: calc(100vh - 70px - 103px);
  background-image: url("../assets/images/banner_background.jpg");
  background-position: top center;
}

main .wrapper {
  height: 100%;
  display: flex;
}

main section {
  height: 100%;
  max-width: 530px;
  margin-right: auto;
}

main img {
  display: block;
  width: 123px;
  height: auto;
  padding-top: 110px;
}

main section h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 44px;
  color: var(--lightgrey);
  text-transform: uppercase;
  padding-top: 33px;
}

main section h1::after {
  content: "";
  display: block;
  width: 64px;
  height: 2px;
  background-color: var(--lightgrey);
  margin-top: 40px;
}

main section p {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 23px;
  color: var(--lightgrey);
  padding-top: 40px;
  padding-bottom: 46px;
}

main section button {
  border: 2px solid #f5f5f5;
  background-color: rgba(255, 255, 255, 0);
  color: var(--lightgrey);
  height: 43px;
}

main section :is(button:focus, button:hover) {
  border: 2px solid #ff9b51;
}

main section button a {
  color: var(--lightgrey);
  text-decoration: none;
  height: 37px;
  line-height: 37px;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  padding-left: 32px;
  padding-right: 29px;
}

main section button :is(a:focus, a:hover) {
  color: var(--orange);
}

/*  form styles */

main aside {
  width: 361px;
  height: 362px;
  background-color: var(--white);
  border-radius: 2px;
  margin-top: 141px;
}

main aside form {
  width: 100%;
  height: 362px;
  background-color: var(--white);
  border-radius: 2px;
}

form h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: var(--darkgrey);
  width: 100%;
  height: 54px;
  line-height: 54px;
  background-color: var(--lightgrey);
  padding-left: 52px;
}

form input {
  display: block;
  margin-left: 39px;
  border: none;
  border-bottom: 1px solid #f5f5f5;
  width: 284px;
  padding-left: 11px;
  padding-bottom: 10px;
  outline: none;
}

::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 400;
  font-size: 1.4rem;
  color: var(--grey);
}

form input:nth-of-type(1) {
  padding-top: 33px;
}

form input:nth-of-type(2) {
  padding-top: 41px;
}

form input:nth-of-type(3) {
  padding-top: 50px;
}

/* footer styles */

footer {
  height: 103px;
  background-color: yellow; /* nog opkuisen */
}
